body{
    margin:0;
    padding:0;
    background-color:rgb(45, 75, 167);
    font-family: cursive;
}

#app-name{
    color: rgb(0, 187, 255);
    font-size: 25px;
    text-align: center;
}

#airplane1{

    width: 500px;
    top:320px;
    padding:0;
    left:0;
    position: absolute;
}

#airplane2{

    width: 500px;
    top:320px;
    padding:0;
    right:0;
    position: absolute;
}